* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body , html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: blue;
}

.header {
    display: grid;
    grid-template-columns: 1.5fr 5fr 2fr;
    text-align: center;
    grid-gap: 20px;
}

.nav > p {
    background-color: rgb(78, 78, 182);
    margin: 10px;
    padding: 20px;
}

.hero {
    display: grid;
    grid-template-columns: 8fr  2fr;
    grid-gap: 20px;
    margin-top: 50px;
}
.hero-content {
    display: flex;
    justify-content: space-around;
    background-color: blue;
}
.hero-content > .hero-item:nth-child(1) {
    flex-grow: 3;
}
.hero-content > .hero-item:nth-child(2) {
    flex-grow: 1;
}
.hero-content > .hero-item > p {
    background-color:rgb(78, 78, 182) ;
    padding: 50px 20px 50px 20px;
    margin: 10px;
}

.hero-ad {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.body {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 250px auto;
    grid-gap: 20px;
    margin-top: 20px;
}
.body-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: blue;
}
.body-content > .body-item > p {
    padding: 20px;
}
.body-content > .body-item {
    background-color:rgb(78, 78, 182) ;
    margin: 10px;

}

.body-content > .body-item:nth-child(1) {
    flex-grow: 2;
}

.body-content > .body-item:nth-child(2){
    flex-grow: 5;
}

.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}
.side-bar > p{
    background-color: rgb(78, 78, 182);
    padding: 25px;
    margin: 10px;
}

footer{
    width: 100%;
    background-color: blue;

}

footer > h2 {
    padding: 20px;
    margin: 10px;
}